.navbar{
    
    height: 70px;
    background-color:white;
    display: flex;
    justify-content:space-between;
    
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    display: flex;
    position: relative;
    justify-content:space-evenly;
} 

.logo{
    font-weight: 700;
}

.navButton{
    margin-left: 15px;
    padding: 5px 10px;
    cursor: pointer;
    color: #D62C2C;
    font-size:inherit;
    font-style: italic;
    border: 3px solid #D62C2C;
    border-radius: 20px;
    background-color: white;
    
    

}
.navButtonhome{
    
    cursor: pointer;
    color:black;
    border:  white;
    background-color: white;
    margin-right: 50px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
    width: 12%;
}

