.hotelContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.hotelwrapper{
    width: 100%;
    max-width :1024px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.bookNow{
    position: absolute;
    top: 10px; 
    right: 0;
    border: none;
    padding: 10px 20px;
    
    color: #D62C2C;
    font-weight: bold;
    border-radius: 5px ;
    border: #D62C2C solid;
    cursor: pointer; 

}
.hotelTitle{
   font-size: 24px; 
   font-weight: bold;
 
}
.hotelAddress{
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.hotelDistance{
    color: #0071c2;
    font-weight: 500;
}
.hotelPriceHighlight{
    color: green;
    font-weight: 500;

}
.hotelImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
}
.hotelImgWrapper{
    width: 33%;

}
.hotelImg{
    width: 100%;
    object-fit: cover;
}
.hotelDetails{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.hotelDetailsTexts{
    flex: 3;
}
.hotelDesc{
    font-size: 14px;
    margin-top: 20px;
}
.hotelDetailsPrice{
    flex: 1;
    position: relative;

    background-color: #D62626;
    border-radius: 10px;

}
.hotelDetailsPrice>h1{
    font-size: 18px;
    color:#FFFCFC;
    text-align: center;
}
.hotelDetailsPrice>span{
   
    font-size: 14px;
    color:#FFFCFC ;
    margin: 20px;
} 
.hotelDetailsPrice>h2{
   font-weight: 300;
   color:black ;
   text-align: center;
} 


.hotelDetailsPrice>button{

    border: none;
    padding: 10px ;
    background-color: #D9D9D9;
    color: #D62C2C;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer; 
    margin: 10px  30px;
    font-size: 16px;
 
} 
.slider{
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.613);
    z-index: 999;
    display: flex;
    align-items: center;
   
    
}


.sliderwrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.sliderImg{
    width: 80%;
    height: 80%;

}
.close{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: lightgray;
  cursor: pointer;
}

.arrow{
  margin: 20px;
  font-size: 50px;
  color: lightgray;
  cursor: pointer;
}
