.header{
background-image: url("../../assets/logo.jpg");
background-clip: padding-box;
background-size:auto;
background-repeat: no-repeat;
color: white;
display:flex;
justify-content: center;
position: relative;
height: 520px; 
width: 100%;
background-position: center;
background-repeat: no-repeat;
background: cover ;
}
.image{
    width:max-content ; 
    height: 20px;
    position: center ;
    display: flex;
}
.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin:20px 0px 100px 0px;
}
.headerContainer.listMode{
    margin: 20px 0px 100px 0px;
}
.headerList{
    display: flex;
    gap:40px;
}
.headerListItem{
    display:flex;
    align-items: center;
    gap:10px;
}
.headerListItem.active{
    border: 1px solid white;
    padding:10px;
    border-radius: 20px;

}
.headerBtn{
    background-color: #D62C2C;
    color:black;
    font-weight: 500;
    border-radius:15px;
    padding:10px;
    cursor:pointer;
    width: 124px;
    height: 37px;
    left: 1599px;
    top: 943px;
}
.headerSearch{
    height: 30px ;
    background-color: white;
    border: 3px solid #FFFFFF;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:10px 0px ; 
    border-radius: 42px ;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}  
.headerIcon{
    color: lightgray;
}
.headerSearchItem{
    display:flex;
    align-items: center;
    gap: 10px;
}
.headerSearchInput{
    border:none;
    outline:none;
}
.headerSearchText{
    color: lightgray;
    cursor: pointer;
}
.date{
    position: absolute;
    top:50px;
    z-index: 2;
}
.options{
    z-index: 2;
    position: absolute;
    top:50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow:0px 0px 10px -5px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4);

}
.optionItem{
 width: 200px;
 display:flex;
 justify-content: space-between;
 margin:10px;   
}
.optionCounter{
    display: flex;
    align-items: center;
    gap:10px;
}
.optionCounterButton{
    width: 30px;
    height: 30px;
    border: 1px solid  #000000;
    cursor:pointer;
    background-color:#FFFFFF;
    border-radius: 40px;

}
.optionCounterButton:disabled{
cursor: not-allowed;
}